body{
    border: 2px solid grey;
    border-bottom: 1px;
    margin: 1px 60px 0px 60px; 
}

.card{
    border: 2px solid red;
    border-radius: 12px;
    height: 350px;
    width: 413px;
    margin-left: 36%;
    margin-top: 4%;
    color: red;
    text-align: center;
    position: relative;
}

h1{
    /* text-align: center; */
    font-family: arial;
    font-size: 60px;
    font-weight: 600;
    margin-left: 38%;
    width: 500px;
    position: relative;

}

h1:before{
    content: "";
    display: block;
   width: 155px;
   height: 2px;
   background-color: black;
   position: absolute;
   margin-left: -35%;
    top: 40px;
}

h1::after{
    content: "";
    display: block;
   width: 155px;
   height: 2px;
   background-color: black;
   position: absolute;
   right: -8%;
    top: 40px;
}

.back{
    text-align: center;
    font-family: arial;
    font-size: 30px;
    color: grey;
    margin: 55px;
}
.t{
    position: relative;
    top: 30px;
    font-size: 36px;
    font-family: arial;
}
i{
    color: red;
}

#b-icon{
    margin-right: 10px;
    font-size: larger;
}
#c{
    font-size: x-large;
    text-decoration-line: line-through;
    font-family: arial;
    position: relative;
    top: 45px;
}

form{
    color: black;
    font-size: 22px;
    font-family: arial;
    position: relative;
    top: 46px;
}
#p-icon{
    position: absolute;
    /* position: relative; */
    bottom: 27px;
    right: 28px;
    font-size: 40px;
}

.blur{
    filter: blur(10px);
}

.upper{
    border: 2px solid brown;
    height: 235px;
    width: 430px;
    color: red;
    position: absolute;
    top: 261px;
    left: 35%;
    border-radius: 15px;
    background-color: white;
    box-shadow: 10px 10px 20px lightgrey;


}

.a{
    text-align: center;
    position: relative;
    top: 38px;
    font-size: 30px;
    font-family: arial,sans-serif;
}

.blank{
    position: relative;
    /* position: absolute; */
    top: 26%;
    left: 64px;
    height: 40px;
    width: 298px;
    border: 2px solid brown;
    border-radius: 5px;
    box-shadow: 4px 3px 8px lightgrey;
}
button{
    padding: 16px;
    border-radius: 40px;
    color: white;
    background-color: red;
    border: 1px solid red;
    font-size: 18px;
    width: 102px;
    height: 45px;
    position: absolute;
    bottom: 11%;
    left: 162px;
}


@media screen and (min-width: 200px) and (max-width: 500px) {

    .card{
        height: 470px;
        width: 325px;
        text-align: center;
        position: relative;
        margin-left: 6px;
    }
    
    #b-icon{
        position: absolute;
        top: 35px;
        left: 8px;
        font-size: 50px;
    }
    
    .b{
        display: none;
    }
    h1:before{
        display: none;
    }
    h1:after{
        display: none;
    }
    h1{
        margin-left: 65px;
    font-size: 48px;
    }
    .t::after{
        content: "";
        display: block;
       width: 255px;
       height: 1px;
       background-color: black;
       position: absolute;
       right: -35%;
        top: 51px;
    }
    form{ 
        font-size: 30px;
        top: 56px;
    }

    
    .upper{
        height: 200px;
        width: 348px;
        position: absolute;
        top: 217px;
        left: 1%; 
    }
    .blank{
        position: absolute;
        top: 78px;
        left: 24px;
        height: 45px;
    }
    button{
        left: 131px;
        bottom: 15px;
        font-size: 26px;
        padding: 10px;
    }

body{
    border: 0px;
    margin: 0px
}
}